<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.hurimg.com/i/hdn/75/0x0/5efd9b977152d8036c470a49.jpg);">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
  <p><%= link_to 'Add list', new_list_path %></p>
</div>

<h1>My Lists</h1>

<div class="container">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.newyorker.com/photos/59095ae96552fa0be682d821/16:9/w_1280,c_limit/video-on-demand.jpg)">
        <%= list.name %>
      </div>
    <% end %>
  <% end %>
</div>
